.seccionEbooks{
    background-color: white;;
}
.cajaEbooks{
    
    padding: 3% 0%;
    margin: 3% auto 0% auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.eboook{
    margin: 2%;
    width:600px;
    text-align: center;
    transition-duration: 1.25s;
    transition-timing-function: ease-out;
    color: black;
    font-weight: bold;
    background-color: #ffd4f3;
    border-radius: 15px;
    padding-bottom: 15px;
}
.eboook:hover{
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    transform: scale(102.5%);
    border-radius: 15px;
}
.portadaEbook{
    height: 600px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.portadaEbook img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.9s; 
}
.eboook:hover img{  /* al hacer hover a la caja quita el filtro a la imagen */
    filter: grayscale(0%);
    border-radius: 15px 15px 0 0;
}
.textoEbook{
    text-align:start;
    height: 250px;
    font-size:18px;
    padding-left: 2%;
    margin-top: 20px;
    transition: 0;
}
.piernasFuertes{
    height: 100%;
    padding: 0 2%;
}
.bannerPiernas{
    position:absolute;
    bottom: 0;
    right: 0%
}
.reservar{
    margin-right: auto;
    cursor: pointer;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    border: none;
}
.reservar:hover{
    background:  #ffd4f3;
    color: black;
    border: black solid 2px;
    transform: scale(1.2);
}
@media (max-width:1642px){ 
    .cajaEbooks{
        margin: 3% auto 3% auto;
        width: 100%;
    }
    .eboook{
        width: 45%;
    }
    .portadaEbook{
        height: 400px;
        text-align: center;
    }
    .piernasFuertes{
        padding: 0 2%;
        font-size: 17px;
    }
}
@media (max-width:900px){ 
    .eboook{
        width: 550px;
        margin-top: 10%;
        text-align: center;
    }
    .portadaEbook{
        height: 500px;
        text-align: center;
    }
}
@media (max-width:800px){ 
    .textoEbook{
        height: 100%;
    }
    .cajaEbooks{
        width: 95%;
    }
    .eboook{
        width: 90%;
    }
    .portadaEbook{
        height: 400px;
    }
}
@media (max-width:480px){ 
    .portadaEbook{
        height: 300px;
    }
    .eboook{
        width:100%;
    }
    .eboook img{  
        filter: grayscale(0%);
    }
}
@media (max-width:360px){ 
    .portadaEbook{
        height: 250px;
    }
}