.padreColumnasFooter{
    background: #292b33;
    padding: 3% 5% 2% 15%;
    display: flex;
}
.columnaFooter{
    width: 25%;
    color: rgba(255, 255, 255, 0.6) !important;
}
.columnaFooter img{
    width:120px
}
.columnaFooter a:hover{
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.tituloFooter{
    font-weight: bold;
    color: #f5a2de;
    font-size: 25px;
}
.cajaDesarrollador{
    background: black;
    color:#383e43;
    padding: 5px 0 5px 45px;
}
.cajaDesarrollador strong{
  color: white;
}
.cajaDesarrollador strong:hover{
    color: rgb(18, 224, 187);
}
.iconosRedes{
    display: flex;
    align-items: center;
}
  .iconosRedes i{
    color: black;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;    
}
.iconosRedes a{
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 3px 2px 0;
    border-width: 1px;
    position: relative;
    background: transparent;
    border: white solid 1px;
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .08);
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .18);
}
a.icon_bar span {
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 22px;
    -webkit-transition: -webkit-transform .3s; /* Para safari */
    -moz-transition: -moz-transform .3s; /* Para Firefox */
    transition: transform .3s;
}
a.icon_bar_small span {
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 22px;
}
a.icon_bar span.iconoVisible {
    position: relative
}
a.icon_bar span.iconoEscondido {
    position: absolute;
    top: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
a:hover.icon_bar span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}
.arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color:  #D1D1D1;
    color: black;
    border-radius: 5px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    transition: 0.3s ease-in-out;
    margin-top: 15px;
}
.arriba:hover{
    background-color: #f5a2de;
}

@media (max-width:1200px){ 
    footer{
      background:#292b33;
    }
    .padreColumnasFooter{
        padding: 3% 5% 2% 3%;
        display: flex;
    }
    .columnaFooter{
        width: 25%;
        color: rgba(255, 255, 255, 0.6) !important;
    }
    .cajaDesarrollador{
      margin-top: 30px
    }
}
@media (max-width:1200px){ 
    .padreColumnasFooter{
        flex-direction: column;
    }
    .columnaFooter{
        width: 100%;
    }
}
@media (max-width:800px){ 
  .padreColumnasFooter {
    padding-left: 7%;
  }
}