.container-fluid{
    background: white;
}
.seccionesHeader{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: 20%;
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: 'Krona One', sans-serif;
    color: black;
}
.seccionesHeader p{
    margin-bottom: 0;
    transition: .3s ease-in-out;
}
.seccionesHeader p:hover{
    color: #f5a2de;
}
.navbar{
    --bs-navbar-padding-y: 0;
}
.navbar-brand { /* logo */
    margin-left: 20px;
}
.navbar-brand img{
    width: 80px;
}
.navbar-toggler{ /* Burger menu */
    display:none 
}
.offcanvas{    /* Menu responsive */
    display: none;
    --bs-offcanvas-width: 100%;
    padding: 3%;
}
.fa-instagram{
    color: #d6249f;
}
.fa-linkedin{
    color: #005182;
}
.fa-facebook{
    color: #2d5f9a
}
.fa-whatsapp{
    color: rgba(37,211,102,1);
}
.fa-youtube{
    color: rgb(255, 0, 0);
}
.fa-envelope{
    color:white
}
.dropdown-menu-dark{
    background:#ffd4f3;
    transition:2s ease-in-out
}
.dropdown-menu-dark a{
    color: black;
}
@media (max-width:800px){ 
    .seccionesHeader{
        display: none;
    }
    .navbar-toggler{
        display:block;
        border: none;
    }
    .offcanvas{
        display: block
    }
    .navbar-toggler:focus {  /* recuadro que aparece al hacerle click al burger menu */
        box-shadow: none;
    }
    .offcanvas.offcanvas-end {   /* menu lateral que aparece */
        top: 50.5px;
        transition: 0.5s;
        background: black;
        font-size: 20px;
        font-weight: bold;
    }
    .nav-link .active{
        color: violet;
    }
    .nav-link{
        color: white;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: #f5a2de;
    }
    .nav-link:focus, .nav-link:hover {
        color: #f5a2de;
    }
    .dropdown-menu{
        font-size: 17px;
        font-weight: bold;
        color: #D32F2F;
    }
    .dropdown-menu-dark a {
        font-weight: bold;
    }
    .dropdown-menu i{
        font-size: 20px;
        width: 25px;
    }
    .developerHeader{
        font-size: 15px;
        width: 300px;
        margin-bottom: 50px;
    }
    .developerHeader a{
        font-size: 15px;
        font-weight: bold;
        color: rgb(18, 224, 187);
        cursor: pointer;
    }
    .developerHeader a:hover{
        color: white
    }
    .container {
        display: inline-block;
        cursor: pointer;
        padding-right: 0;
    }
    /* estilos del burger menu */
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #ffd4f3;
        margin: 6px 0;
        transition: 0.4s ;
    }
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
    .headerResponsive{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}